
@font-face {
  font-family: 'outfit';
  src: url(https://github.com/gabriellalbq/gabriellalbq/raw/refs/heads/main/Outfit-VariableFont_wght.ttf) format('truetype');
}

.teste{
  font-family: 'outfit'
}
